<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vitajte - Healthy Start</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="auth-bg">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="card p-5 shadow-sm">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
