@model Bc_exercise_and_healthy_nutrition.Models.AppUser

@{
    ViewData["Title"] = "Zmazať používateľa";
}

<h2>Zmazať používateľa</h2>

<p>Naozaj chceš zmazať používateľa <strong>@Model.Meno</strong>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Áno, zmazať</button>
    <a asp-action="Index" class="btn btn-secondary">Nie, späť</a>
</form>