@using Bc_exercise_and_healthy_nutrition.ViewModels
@model LoginViewModel

@{
    Layout = "_AuthLayout";
}

<div class="form-container">
    <h2>Prihlásenie</h2>

    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Heslo" class="form-label"></label>
            <input asp-for="Heslo" class="form-control" type="password" />
            <span asp-validation-for="Heslo" class="text-danger"></span>
        </div>

        <input asp-for="TurnstileToken" type="hidden" id="turnstile-token-login" />

        <div class="cf-turnstile mb-3"
             data-sitekey="@ViewBag.TurnstileSiteKey"
             data-callback="onTurnstileLoginSuccess">
        </div>

        <button type="submit" class="btn btn-main">Prihlásiť</button>
    </form>
</div>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<script>
    function onTurnstileLoginSuccess(token) {
    document.getElementById("turnstile-token-login").value = token;
    }
</script>