@{
    ViewData["Title"] = "Makroživiny";
}

<h2 class="page-title">Makroživiny</h2>

<div class="card-custom">
    <h5>Proteíny</h5>
    <p>
        Proteíny sú dôležité pre rast svalov, regeneráciu a pocit sýtosti.
    </p>

    <h5>Sacharidy</h5>
    <p>
        Sacharidy sú hlavným zdrojom energie pre telo a mozog.
    </p>

    <h5>Tuky</h5>
    <p>
        Tuky sú nevyhnutné pre hormonálnu rovnováhu a vstrebávanie vitamínov.
    </p>
</div>