@{
    ViewData["Title"] = "Tipy a triky";
}

<h2 class="page-title">Tipy a časté chyby</h2>

<div class="card-custom">
    <ul>
        <li>Nezabúdaj na pitný režim.</li>
        <li>Nesnaž sa drasticky znižovať kalórie.</li>
        <li>Sleduj dlhodobý trend, nie jeden deň.</li>
        <li>Jedz pravidelne a plánuj si jedlá.</li>
    </ul>
</div>